
body {
    background-color: #233237;
    width: 100%;
    color: #EAc67A;
    margin: 0px;
    font-family: Arial;
}

nav {
    background-color: #EAc67A;
    height: 30px;
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.7);
    display: table;
    padding-right: 100%;
    padding-left: 70px;
}

nav > a {
    color: #984B43;
    text-decoration: none;
    padding: 4px 30px 0px 30px;
    font-size: 20px;
    display: table-cell;
    white-space: nowrap;
}

nav > a:hover {
    background-color: #984B43;
    color: #EAc67A;
}

h1 {
    margin-left: 70px;
}

h2 {
    text-align: center;
    background-color: #984B43;
    color: #233237;
    padding: 5px 0px 5px 0px;
}

#datePicker {
    margin: auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.5);
    background-color: #EAc67A;
    color: #233237;
    border: 3px solid #984B43;
}

#selectedDate {
    height: 45px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #984B43;
    border-right: 1px solid #984B43;
    margin: 0px;
}

#monthPicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #984B43;
    color: #EAc67A;
}

#dayOfWeek {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #984B43;
    border-right: 1px solid #984B43;
}

#dayOfWeek > p {
    /*width: 32px; */
    text-align: center;
    font-size: 22px;
    width: calc(100% / 7);
    margin: 0px;
}

#calendarTable {
    width: 100%;
    border: 1px solid #984B43;
    border-collapse: collapse;
}

td {
    width: calc(100% / 7);
    height: 50px;
    text-align: center;
    border: 1px solid #984B43;
    font-size: 20px;
}

.today {
    border-width: 3px;
}

.selectedDay {
    background-color: #984B43;
    color: white;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);

}

#calContainer {
    display: none;
}

.monthButton {
    height: 40px;
    width: calc(100% / 7);
    font-size: 30px;
    color: #233237;
    background-color: #984B43;
    border: 0px;
}